
<!DOCTYPE HTML>
<html>
   <head>
      <title>Vehicle Registration</title>
      <link href="static/css/style.css" rel="stylesheet" type="text/css"  media="all" />
      <link href="static/css/style1.css" rel="stylesheet" type="text/css"  media="all" />

      <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
   </head>
   <body>
      <!-----start-header----->
      <div class="header">
         <!---start-wrap---->
         <div class="wrap">
            <!---start-top-header---->
            <div class="top-header">
               <div class="top-header-left">
 <!--                 <p>travel Agency</p>
                  <p>COMPANY</p>    -->
                  <h2><b>USER LOGIN</b></h2>
               </div>
               <div class="top-header-right">
                  <div class="top-header-contact-info">
<!--                     <p>GET FREE CONSULTATION:</p>
                     <span>1 800 123 1234</span>      -->
                  </div>
                  <div class="top-header-contact-account">
                     <div class="sub-about-grid-social">
 <!--                       <ul>
                           <li><a href="#"><img src="images/facebook.png" title="facebook"></a></li>
                           <li><a href="#"><img src="images/twitter.png" title="Twiiter"></a></li>
                           <li><a href="#"><img src="images/rss.png" title="Rss"></a></li>
                           <li><a href="#"><img src="images/gpluse.png" title="Google+"></a></li>
                        </ul>    -->
                     </div>
                  </div>
                  <div class="clear"> </div>
               </div>
               <div class="clear"> </div>
            </div>
            <!---End-top-header---->
            <!----start-main-header----->
            <div class="main-header">
               <div class="logo">
<!--                  <a href="index.html"><img src="images/logo1.png" title="logo" /></a>      -->
               </div>
               <div class="top-nav">
                  <ul>
                     <li><a href="/index">Home</a></li>
                     <li><a href="/about">About</a></li>
                    <li class="active"><a href="/user">User</a></li>    
<!--               <li><a href="services.html">Register</a></li>      -->

                      <li><a href="/admin">Admin</a></li>
                     
                     <li><a href="/contact">Contact</a></li>
                     <div class="clear"> </div>
                  </ul>
               </div>
               <div class="clear"> </div>
            </div>
            <!----End-main-header----->
         </div>
      </div>
      <div class="clear"> </div>
         <!---End-header--->
      <!---start-content----->
     <!-- <div class="content">
         <div class="wrap">
-->

           <head>
      <title>Vehicle registration </title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Jitney Booking Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
         />
      <script>
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
      </script>
      <!-- Meta tags -->
      <!--stylesheets-->
      <link href="static/css/style1.css" rel='stylesheet' type='text/css' media="all">     
      <!--//style sheet end here-->
      <!-- Calendar -->
      <link rel="stylesheet" href="css/jquery-ui.css" /> 
      <!-- //Calendar -->
      <link href="static/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" /> 
      <!-- Time-script-CSS -->
     <link href="//fonts.googleapis.com/css?family=Barlow:300,400,500" rel="stylesheet"> 
      <script>
      function  validateForm(){
         var x = document.getElementById("user").value;
         var y = document.getElementById("pass").value;
         if(x=="username" && y=="password"){
            return true;	
         }
         else {
            alert("invalid login");
            return false;
         }
      }
   </script> 
   </head>
   <body>
      <h1 class="header-w3ls"><font color="#0a0a0a">
         VEHICLE REGISTRATION</font>
      </h1>
      
       <div class="main-bothside">
      <form action="/user/reg" method="post" onsubmit="return validateForm()">
            <div class="form-group">

               <div class="form-mid-w3ls">
                  <p>USERNAME</p>
                  <input type="text" placeholder="" required="" name="firstname" id="user">
               </div>
               <div class="form-mid-w3ls">
                  <p>PASSWORD </p>
                  <input type="text" placeholder="" required="" name="password" id="pass">
               </div> 
            </div>
            <div class="form-group">
 <!--              <div class="form-mid-w3ls">
                  <p></p>
                  <input type="text"  placeholder="" required="" name="password">
               </div>  -->
 <!--              <div class="form-mid-w3ls">
                  <p>Phone</p>
                  <input type="text" placeholder="" required="" name="phone">
               </div> -->
            </div>
            <div class="form-group">
             <!--  <div class="form-mid-w3ls">
                  <p>Pickup Date & Time</p>
                  <input id="datepicker" name="text" type="text" placeholder="" required="">
                  <input type="text" id="timepicker" name="Time" class="timepicker form-control hasWickedpicker" placeholder="" required=""
                     onkeypress="return false;">
                  <div class="clear"></div> 
               </div>
               <div class="form-mid-w3ls">
                  <p>Drop off Date & Time</p>
                  <input id="datepicker1" name="Text" type="text" placeholder="" required="">
                  <input type="text" id="timepicker1" name="Time" class="timepicker1 form-control hasWickedpicker" placeholder="" required=""
                     onkeypress="return false;">
                  <div class="clear"></div> 
               </div> -->
            </div>
            <div class="form-group">
              <!-- <div class="form-mid-w3ls">
                  <p>PickUp Point</p>
                  <textarea name="Message" placeholder="" required=""></textarea>
               </div>
               <div class="form-mid-w3ls">
                  <p>Drop Off Point</p>
                  <textarea name="Message" placeholder="" required=""></textarea>
               </div>
            </div>
            <div class="form-group">
               <div class="form-mid-w3ls">
                  <p>Journey Type</p>
                  <select class="form-control">
                     <option value="">Select</option>
                     <option value="category1">One Way</option>
                     <option value="category2">Two Way</option>
                  </select>
               </div>
               <div class="form-mid-w3ls">
                  <p>Taxi Type</p>
                  <select class="form-control">
                     <option value="">Select</option>
                     <option value="category1">3 seats</option>
                     <option value="category3">4 seats</option>
                     <option value="category3">6 Seats</option>
                     <option value="category3">8 Seats</option>
                     <option value="category3">and More</option>
                  </select>
               </div> -->
            </div>  
  <!--          <div class="main-bothside">
            <div class="btnn">
               <input type="submit" value="USER" name="user">
            </div>
            <div class="btnn">
               <input type="submit" value="ADMIN" name="admin">
            </div>         -->
            <div class="btnn" onclick="">
               <input type="submit" value="Login" name="save">
            </div> 

         </form>

      </div>

 <!--     <div class="copy">
         <p>&copy; <a href="http://www.W3Layouts.com" target="_blank">ADMIN</a></p> -->


      </div>
      <!-- js -->
      <script src='static/js/jquery-2.2.3.min.js'></script>
      <!-- //js -->
      <!-- Calendar -->
      <script src="static/js/jquery-ui.js"></script>
      <script>
         $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
         });
      </script>
      <!-- //Calendar -->
      <!-- Time -->
      <script src="static/js/wickedpicker.js"></script>
      <script>
         $('.timepicker,.timepicker1').wickedpicker({ twentyFour: false });
      </script>
      <!-- //Time -->
   </body>
</html>

